* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #f1f5f8;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.container {
  gap: 30px;
}
.headline {
  margin-top: 60px;
  gap: 5px;
}

h2 {
  color: #102a42;
}
.underline {
  width: 3rem;
  height: 0.25rem;
  background: #c59d5f;
}
.menu-filter {
  gap: 10px;
}
#food-card-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.food-card {
  gap: 20px;
}

.menu-desc {
  width: 250px;
  gap: 5px;
}
.food-name-price {
  gap: 20px;
}

.filterButton {
  color: #c59d5f;
  border-color: #c59d5f;
  background-color: transparent;
  border-radius: 6px;
  font-size: 12px;
  padding: 4px 6px;
  border: 2px solid;
}
.filterButton:hover {
  background: #c59d5f;
  color: #fff;
}
.food-title {
  color: #102a42;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
}

.food-price {
  color: #c59d5f;
  font-weight: bold;
  font-size: 14px;
}

.long-desc {
  color: #617d98;
  font-size: 14px;
}
.line-through {
  width: 15rem;

  border: 1px dotted #617d98;
}

.photo {
  border: 2px solid#c59d5f;
  padding: 1px;
  border-radius: 6px;
}
